.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Dataset files
DataSet/

# VS Code
.vscode/

backend/
run_backend.bat

run_backend.bat